.table tbody tr:nth-child(odd) {
    background-color: #fff;
}

.table tbody tr:nth-child(even) {
    background-color: #D3D3D3;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px 50px;
    text-align: center;
    border: 2px black solid;
}

th {
    font-weight: bold;
    background-color: #2A2A2A;
    color: white;
}

td {
    text-transform: capitalize;
}